html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
}

.main-header_logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -69px;
  z-index: 2;
}

.main-header ul {
  list-style: none;
}

.main-navigation {
  position: relative;
}

.main-header_menu a {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-header_menu {
  margin: 0;
  padding: 14px 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-header_menu a:hover {
  color: #81b3d2;
}

.main-header_menu a:active {
  color: #000000;
  opacity: 0.3;
}

.main-header_menu .current-page {
  color: #766357;
  cursor: pointer;
}

.main-header_menu li {
  width: 243px;
}

.main-header_menu li:first-child,
.main-header_menu li:nth-child(2) {
  text-align: left;

}

.main-header_menu li:nth-child(2) {
  margin-right: auto;
}

.main-header_menu li:nth-child(3),
.main-header_menu li:last-child {
  text-align: right;
}

.intro {
  position: relative;
  text-align: center;
  background: #81b3d2 url("../img/backgrounds/background.jpg") no-repeat;
  background-size: cover;
  background-position-y: -80px;
}

.intro::before {
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  background: url("../img/main_bg_down.png") no-repeat;
  left: 0;
  bottom: 0;
}

.intro_welcome-img {
  margin-top: 76px;
  margin-bottom: 76px;
}

.features ul {
  list-style: none;
}

.features_slogan,
.features_reasons {
  margin-left: auto;
  margin-right: auto;
  max-width: 625px;
  text-align: center;
}

.features_slogan {
  margin-top: 60px;
  margin-bottom: 26px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features_reasons {
  margin-bottom: 50px;
  line-height: 26px;
}

.advice h4,
.features h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.main-item {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: #81b3d2;
}

.main-item_text-area {
  padding: 28px 60px;
  text-align: center;
  justify-content: center;
}

.main-item_title {
  margin-bottom: 23px;
}

.main-item_text-area span {
  display: inline-block;
  margin-bottom: 8px;
}

.advice {
  display: flex;
}

.advice_list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advice_list li {
  width: calc(100%/3);
  padding: 135px 60px 63px;
  position: relative;
  text-align: center;
}
.advice_list li:first-child::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background: url("../img/icons/icon-home.svg") no-repeat;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}

.advice_list_quarters::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background: url("../img/icons/icon-burger.svg") no-repeat;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
}
.advice_list_food::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  background: url("../img/icons/icon-burger.svg") no-repeat;
  left: 50%;
  top: 62px;
  transform: translateX(-51%);
}
.advice_list_souvenir::after {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  background: url("../img/icons/icon-box.svg") no-repeat;
  left: 50%;
  top: 58px;
  transform: translateX(-50%);
}
.features_secondary {
  display: flex;
  background-color: #eeeeee;
}

.secondary-item {

  text-align: center;
}

.secondary-item_title {
  margin-top: 46px;
}

.search-hotels {
  position: relative;
  text-align: center;
}

.search-hotels_interest {
  margin-top: 54px;
  margin-bottom: 28px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotels_open-form {
  width: 568px;
  height: 86px;
  margin-top: 50px;
}

.search-hotels_form-box {
  position: absolute;
  box-sizing: border-box;
  right: 316px;
  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
}

.search-hotels p {
  line-height: 24px;
}

.calendar {
  background-color: transparent;
}

.plus,
.minus,
.search-hotels input {
  background-color: #f2f2f2;
}

.search-hotels label {
  font-weight: 700;
}

.search-hotels input {
  font-weight: 700;
  border: 2px solid #f2f2f2;
  outline: none;
}

.search-hotels input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-hotels input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-hotels_open-form {
  font-size: 21px;
  line-height: 26px;
  background-color: #766357;
}

.search-hotels_open-form:hover {
  background-color: #604e43;
}

.search-hotels_open-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline: none;
}

.search-hotels .calendar:hover svg {
  fill: #000000;
}

.search-hotels .calendar:focus {
  outline: none;
}

.search-hotels .calendar:active svg {
  fill: #81b3d2;
}

.search-hotels_find {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
}

.search-hotels_find:hover {
  background-color: #669ec0;
}

.search-hotels_find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  outline: none;
}

.visitsedona-link {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer {
  padding: 48px 135px;
  display: flex;
  justify-content: space-between;
}

.main-footer ul {
  list-style: none;
}

.main-footer_social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
}

.design > p {
  display: inline-block;
  vertical-align: middle;
}

.design > a {
  display: inline-block;
  vertical-align: middle;
}

.design .main-footer_logo:hover svg {
  fill: #81b3d2;
}

.design .main-footer_logo:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.social-button {
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active svg {
  fill: #88b6d1;
}

/* Страница отелей*/

.hotels-filter {
  color: #ffffff;
  background: #7a9cc0 url("../img/backgrounds/background-filter.jpg") no-repeat 50% 50%;
}

.hotels-filter ul {
  list-style: none;
}

.hotels-filter_form {
  padding: 28px 72px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hotels-filter_form fieldset {
  border: none;
}

.hotels-filter_form legend {
  margin-bottom: 26px;
}

.hotels-filter_form ul {
  margin: 0;
  padding: 0;
}

.hotels-filter_form li:first-child,
.hotels-filter_form li:nth-child(2) {
  margin-bottom: 26px;
}

.cost-per-day input {
  font-family: inherit;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

.hotels-filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.property-type {
  margin-right: auto;
}

.infrastructure {
  margin-right: 100px;
}

.prise-slider {
  width: 316px;
  border: 1px solid #ffffff;
}

.hotels-filter_show {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hotel-sorting {
  padding: 11px 72px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-sorting_filter-by-type {
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;
}

.hotel-sorting_title {
  margin-right: 50px;
}

.hotel-sorting_filter-by-type li:first-child {
  margin-left: 40px;
}

.hotel-sorting_filter-by-type li:nth-child(2),
.hotel-sorting_filter-by-type li:nth-child(3) {
  margin-left: 32px;
}

.hotels-filter_show {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.hotels-filter_show:hover {
  background-color: #ffffff;
  color: #000000;
}

.hotel-sorting_title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-sorting_title-sort,
.hotel-sorting_filter-by-type {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.hotel-sorting ul {
  list-style: none;
}

.hotel-sorting_filter-by-type a {
  color: #000000;
  opacity: 0.4;
  border-bottom: 1px dotted #81b3d2;
}

.hotel-sorting_current a {
  color: #81b3d2;
  opacity: 1;
  border-bottom: none;
}

.hotel-sorting_filter-by-type a:hover {
  color: #81b3d2;
  opacity: 1;
  border-bottom: 1px dotted #81b3d2;
}

.hotel-sorting_filter-by-type a:active {
  color: #000000;
  opacity: 1;
  border-bottom: none;
}

.hotel-sorting a:hover svg {
  fill: #000000;
}

.hotel-sorting_current-arrow svg,
.hotel-sorting a:active svg {
  fill: #81b3d2;
}

.hotels_item {
  padding: 30px 72px;
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #e5e5e5;
}

.hotels_item_text-box {
  margin: 0 auto 0 30px;
}

.item_hotel-name {
  margin: 0;
  color: #000000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.item_hotel-name:hover {
  color: #81b3d2
}

.item_hotel-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.hotels_rating {
  color: #666666;
  background-color: #f2f2f2;
}

.detail-button {
  font-size: 14px;
  line-height: 21px;
  background-color: #81b3d2;
}

.detail-button:hover {
  background-color: #669ec0;
}

.detail-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;

  outline: none;
}

.reserv-button {
  font-size: 14px;
  line-height: 21px;
  background-color: #766357;
}

.reserv-button:hover {
  background-color: #604e43;
}

.reserv-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline: none;
}
