html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Myriad Pro, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.red-button {
  background-color: #766357;
  color: #ffffff;
}

.blue-button {
  background-color: #81b3d2;
  color: #ffffff;
}

.main-header_menu {
  list-style: none;
}

.main-header_menu a {
  color: #000000;
  font-weight: 700;
}

.main-navigation {
  text-align: center;
}

.intro {
  max-width: 1200px;

  text-align: center;

  background-color: #e3f1f9;
  background-image: url("../img/backgrounds/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.features {
  text-align: center;
}

.features > p:first-of-type {
  font-size: 21px;
  font-weight: 700;
}

.features ul {
  list-style: none;
}

section.features_item {
  background-color: #81b3d2;
}

div.features_item {
  background-color: #eeeeee;
}

.search-hotels {
  text-align: center;
}

.search-hotels > p:first-of-type {
  font-size: 30px;
  font-weight: 700;
}

.main-footer a {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}

.main-footer_social-list li {
  list-style: none;
}

.main-footer_social-list a {
  background-color: #81b3d2;
}

/* Страница отелей*/
.main-header_menu .current-page {
  color: #766357;
}

.hotels-filter {
  color: #ffffff;
  background-color: #7a9cc0;
  background-image: url("../img/backgrounds/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

;
}
.hotels-filter legend {
  font-size: 16px;
  font-weight: 700;
}

.hotel-sorting > p:first-of-type {
  font-size: 21px;
  font-weight: 700;
}

.hotel-sorting_filter {
  font-size: 12px;
}

.hotel-sorting_filter li {
  list-style: none;
}

.hotel-sorting_filter a {
  color: #000000;
  opacity: 0.4;
  border-bottom: 1px dotted #81b3d2;
}

.hotel-sorting_filter li:first-child a {
  color: #81b3d2;
  opacity: 1;
  border-bottom: none;
}

.hotels h2 {
  font-size: 21px;
  font-weight: 700;
}

.hotels_rating {
  background-color: #f2f2f2;
}
